/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    align-content: center;
    margin: 0 auto; 
        float: none;
        margin-bottom: 10px; 
  }

  .iconLogin{
    font-size: 10em;
    color: blue;
  }

  .cardLogin{
    width: 80%;
 margin: auto;
 text-align: center;
  }

